<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    </head>
</html>

<style>
    img {
        margin: 2px;
        border: 1px solid grey;
    }
</style>

{% if flagSize != 'all' %}
    {% for i in 1..900 %}
        <img style="height: {{ flagSize }};" src="{{ flagPath }}" alt="">
    {% endfor %}
{% else %}
    {% for size in range(6, 23, 2) %}
        {% set flagsPerRow = (210 / size) | round(0, 'floor')  %}
        <div>h: {{ size }}mm</div>
        {% for i in 1..(flagsPerRow * 1.5) %}
            <img style="height: {{ size }}mm;" src="{{ flagPath }}" alt="">
        {% endfor %}
    {% endfor %}
{% endif %}